
.DS_Store
Data/.DS_Store
Data/Sept13/x1580.comp(u,0)
Data/Sept13/x1580.comp(u,2)
Data/Sept13/x1580.comp(u_rey,1)
Data/Sept13/x1580.README
Data/Sept13/x1900.comp(u,0)
Data/Sept13/x1900.comp(u,2)
Data/Sept13/x1900.comp(u_rey,1)
Data/Sept13/x1900.README
Data/Sept13/x2217.comp(u,0)
Data/Sept13/x2217.comp(u,2)
Data/Sept13/x2217.comp(u_rey,1)
Data/Sept13/x2217.README
Data/Sept13/x2586.comp(u,0)
Data/Sept13/x2586.comp(u,2)
Data/Sept13/x2586.comp(u_rey,1)
Data/Sept13/x2586.README
Data/Sept13/x3017.comp(u,0)
Data/Sept13/x3017.comp(u,2)
Data/Sept13/x3017.comp(u_rey,1)
Data/Sept13/x3017.README
Data/Sept13/x3518.comp(u,0)
Data/Sept13/x3518.comp(u,2)
Data/Sept13/x3518.comp(u_rey,1)
Data/Sept13/x3518.README
Data/Sept13/x4105.comp(u,0)
Data/Sept13/x4105.comp(u,2)
Data/Sept13/x4105.comp(u_rey,1)
Data/Sept13/x4105.README
Data/Sept13/x4788.comp(u,0)
Data/Sept13/x4788.comp(u,2)
Data/Sept13/x4788.comp(u_rey,1)
Data/Sept13/x4788.README
Data/Sept13/x5585.comp(u,0)
Data/Sept13/x5585.comp(u,2)
Data/Sept13/x5585.comp(u_rey,1)
Data/Sept13/x5585.README
Data/Sept13/x6516.comp(u,0)
Data/Sept13/x6516.comp(u,2)
Data/Sept13/x6516.comp(u_rey,1)
Data/Sept13/x6516.README
Data/Sept13/x7601.comp(u,0)
Data/Sept13/x7601.comp(u,2)
Data/Sept13/x7601.comp(u_rey,1)
Data/Sept13/x7601.README
*.m~
*.asv
